:root {
    --primary-color: white;
}

#current-station {
    color: red;
}


.current-station-action button {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background-size: contain;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.current-station-action .prev-button {
    background-image: url('./img/previous.svg')
}

.current-station-action .next-button {
    background-image: url('./img/next.svg')
}

.current-station-action .play-button {

    background-image: url('./img/play.svg')
}